<phpunit bootstrap="index.php">
  <testsuites>
    <testsuite name="all">
      <directory>test</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <file>./config.php</file>
      <directory suffix=".php">./src</directory>
      <directory suffix=".php">./test</directory>
    </whitelist>
  </filter>
  <logging>
    <!-- output clover xml for coveralls -->
    <log type="coverage-clover" target="build/logs/clover.xml"/>
  </logging>
</phpunit>
