{#{% block recipe-list %}#}
<table class="table">
  <thead>
  <tr>
    <th>id</th>
    <th>title</th>
  </tr>
  </thead>
  <tbody>
  {% for recipe in recipes %}
    <tr>
      <td>{{ recipe.id }}</td>
      <td>{{ recipe.title }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{#{% endblock %}#}
