{% extends "base.html.twig" %}

{% block content %}
  <h1>Welcome to my recipe book</h1>

  <p>Just have a look around, feel free to add a recipe.</p>

  <div>
    <a class="btn btn-primary" href="edit-recipe.php">Add a recipe</a>
  </div>

  {% include 'recipe/list.html.twig' %}
{% endblock %}
